{% load static %}
<html>
    <head>
        <title>Banco de Mendiolaza - Registrate</title>
        <link rel="shortcut icon" href="{% static 'icon.png' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    </head>
    <body>        
<h2>Registrate</h2>
<form method="POST">
    {{ form.as_p }}
    {% csrf_token %}
    <button type="submit" class="btn btn-default">Registrar</button>
</form>

<hr />

<h3>Si ya tenés cuenta, inicia sesión</h3>

<button type="button" class="btn btn-default" onclick="window.location='/login'">Iniciar Sesión</button>
    </body>
</html>