hr{
  border-width: 2px;
  border-color: black;
}

nav {
  margin-bottom: 40px;
}

#sticky-footer {
  flex-shrink: none;
}

#skere {
  font-family: 'Courier', arial;
  font-size: 48px;
}

#saldo, #signo {
  font-family: 'Arial', arial;
  font-size: 58px;
  color: green;
  float: left;
  margin-left: 10px;
  margin-bottom: 20px;
}

#divhome {
  background-color: rgb(49, 49, 49);
  color: white;
  width: 50%;
  border-radius: 10px;
}

#subtit {
  color: white;
}

#text {
  color: gray;
  font-weight: bold;
}

#mod {
  color: red;
}

#text2 {
  color: gray;
}

#div1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

#register {
  margin-left: 5px;
  margin-right: 100px;
}

#perfil {
  margin-top: 35px;
  font: bold;
}

#div-perfil {
  margin-left: 20px;
  margin-right: 20px;
  align-content: center;
}

#div-register {
  margin-left: 10px;
}

#div-pass {
  margin-top: 20px;
  margin-right: 300px;
  margin-left: 10px;
}