hr{
  border-width: 2px;
  border-color: black;
}

#sticky-footer {
  flex-shrink: none;
}

#skere {
  font-family: 'Courier', arial;
  font-size: 48px;
}

#saldo, #signo {
  font-family: 'Arial', arial;
  font-size: 58px;
  color: green;
  float: left;
  margin-left: 10px;
  margin-bottom: 20px;
}

#divhome {
  background-color: rgb(49, 49, 49);
  color: white;
  width: 50%;
  border-radius: 10px;
}

#subtit {
  color: white;
}

#text {
  color: gray;
  font-weight: bold;
}

#mod {
  color: red;
}

#text2 {
  color: gray;
}

#div1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

#register {
  margin-left: 5px;
  margin-right: 100px;
}

#perfil {
  margin-top: 35px;
  font: bold;
}

#div-perfil {
  margin-left: 20px;
  margin-right: 20px;
  align-content: center;
}

#div-register {
  margin-left: 10px;
}

#div-pass {
  margin: 20px;
}

#carousel-img {
  height: 600px;
}

#map {
  height: 600px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
 }

@media only screen and (max-width: 1080px) {
  
  #divhome {
    width: 80%;
  }

  #carousel-img {
    height: 180px;
  }

  #map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
   }

}