{% autoescape off %}
<center>
<br/>
<h5 style="font-family: 'Courier', arial; font-size: 28px; text-shadow: 4px 4px 4px #aaa;">
    <img src="https://raw.githubusercontent.com/juampiludu/Banco/develop/Banco/statics/icon.png" id="icon" style="height: 60px; width: 60px; vertical-align: middle;" />
        Banco de Mendiolaza
</h5>
<br/>
<p style="@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap'); font-family: 'Raleway', sans-serif;">
    ¡Hola! Hemos recibido tu solicitud para el cambio de contraseña, para continuar<br/>
    presiona el botón que está abajo:
</p>
<br/>
<p>
    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
        <button 
            style="background-color: #292b2c; color: white; border: none; outline: none; width: 200px; height: 40px; border-radius: 10px; cursor: pointer;">
            Cambiar Contraseña
        </button>
    </a>
</p>
<br/>
<p style="@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap'); font-family: 'Raleway', sans-serif;">
    Si el botón no funciona al clickearlo, copiá y pegá el siguiente link en una nueva pestaña:
</p>
<p style="@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap'); font-family: 'Raleway', sans-serif;">
    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
        {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
    </a>
</p>
<br/>
<p style="@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap'); font-family: 'Raleway', sans-serif;">
    Tu correo electrónico, en caso de que lo hayas olvidado: {{user.get_username}}
</p>
<br/>
<p style="@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap'); font-family: 'Raleway', sans-serif;">
    Atentamente,<br/>
    Banco de Mendiolaza
</p>
</center>
{% endautoescape %}