{% extends 'base_form.html' %}
{% load static %}
{% block mainblock %}
<script>
    window.onload = function() {
        var pass1 = document.getElementById("id_new_password1");
        var pass2 = document.getElementById("id_new_password2");
        pass1.placeholder = "Nueva contraseña";
        pass2.placeholder = "Confirmar contraseña";
        pass1.className = "fadeIn second";
        pass2.className = "fadeIn third";
        $('label').remove();
    };
</script>

<form method="POST">
    {% csrf_token %}
    {{form.new_password1}}
    <br/><br/>
    <ul>
        <li>La contraseña no puede ser similar a otra información personal.</li>
        <li>La contraseña debe contener al menos 8 caractéres.</li>
        <li>La contraseña no puede ser una comunmente usada.</li>
        <li>La contraseña no puede ser solamente numérica.</li>
    </ul>
    <br/>
    {{form.new_password2}}
    <br/><br/>
    <input type="submit" class="fadeIn fourth" value="Confirmar">
</form>

{% endblock %}