{% extends 'base_form.html' %}
{% load static %}
{% block mainblock %}

<div style="margin: 20px;">
    <p>
        Te enviamos un correo con las instrucciones sobre como resetear tu contraseña, solo si el correo que ingresaste es con el
        que estás registrado.
        Revisá tu correo en unos minutos.
    </p>
    <p>
        Si no recibís un correo, por favor aseguráte de haber ingresado la dirección con la que estás registrad@,
        y/o chequeá la casilla de spam.
    </p>
    <p>
        <a href="/">Ir al inicio</a>
    </p>
</div>

{% endblock %}