@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

hr{
  border-width: 2px;
  border-color: black;
}

a, p, h1, h2, h3, h4, h5, h6, button, input, small, li {
  font-family: 'Open Sans', sans-serif;
}

#sticky-footer {
  flex-shrink: none;
}

#skere {
  font-family: 'Courier', arial;
  font-size: 48px;
}

#saldo, #signo {
  font-family: 'Arial', arial;
  font-size: 58px;
  color: green;
  float: left;
  margin-left: 10px;
  margin-bottom: 20px;
}

#divhome {
  background-color: white;
  color: black;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 50%;
  border: 1px solid black;
  border-radius: 10px;
  transition: -webkit-box-shadow .6s, box-shadow .6s;
}

#divhome:hover {
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.6);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.6);
}

.divhome-in {
  margin: 30px;
}

#subtit {
  color: black;
}

#text {
  color: gray;
  font-weight: bold;
}

#mod {
  color: red;
}

#text2 {
  color: gray;
}

#div1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

#register {
  margin-left: 5px;
  margin-right: 100px;
}

#perfil {
  margin-top: 35px;
  font: bold;
}

#div-perfil {
  margin-left: 20px;
  margin-right: 20px;
  align-content: center;
}

#div-register {
  margin-left: 10px;
}

#div-pass {
  margin: 20px;
}

.carousel img {
  max-height: 800px;
  object-fit: cover;
}

#map {
  height: 600px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
 }

#fromAmount, #toAmount, #to, #from {
  border: none;
  border-radius: 5px;
  vertical-align: middle;
  margin: 5px;
  height: 40px;
  width: 240px;
  color: rgb(44, 44, 44);
  transition: box-shadow .2s;
  font-family: 'Open Sans', sans-serif;
  font-size: medium;
}

#fromAmount {
  color: rgb(87, 87, 87);
}

#toAmount {
  background-color: white;
  color: rgb(87, 87, 87);
}

#fromAmount:focus, #toAmount:focus, #to:focus, #from:focus {
  outline: none;
  box-shadow: 0px 0px 12px 2px rgb(163, 163, 163);
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}

@media only screen and (max-width: 1080px) {
  
  #divhome {
    width: 80%;
  }

  .carousel img {
    max-height: 250px;
  }

  #map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
   }

}
