{% extends 'base_form.html' %}
{% load static %}
{% block onlyforregister %}formContentRegister{% endblock %}
{% block mainblock %}

  {% if form.errors %}
  {% for field in form %}
  {{ field.errors }}
  {% endfor %}
  {% endif %}

  <!-- Login Form -->
  <form method="POST" style="margin: 10px;" autocomplete="off">
    {% csrf_token %}
    {{ form.email }}
    {{ form.first_name }}
    {{ form.last_name }}
    {{ form.born_date }}
    {{ form.phone }}
    {{ form.dni }}
    {{ form.province }}
    {{ form.city }}
    {{ form.address }}
    {{ form.password1 }}
    {{ form.password2 }}
    <br/><br/>
    <ul class="fadeIn eleventh">
      <li>Todos los campos son obligatorios.</li> 
      <li>El campo de fecha corresponde a fecha de nacimiento.</li>
      <li>Aseguráte de ingresar bien los datos marcados con (*) porque después no se pueden modificar (incluida fecha de nacimiento).</li>   
    </ul>
    <input type="submit" class="fadeIn twelveth" value="Registrarse">
  </form>

  <div id="formFooter">
    <a class="underlineHover" href="/login">Si ya tenés cuenta, iniciá sesión</a>
  </div>

  <script>

    window.onload = function() {
      var x = document.getElementById("id_province").options[0].disabled = true;
    };

  </script>

{% endblock mainblock %}
