{% extends 'base.html' %}
{% load static %}

{% block mainblock  %}

<br/>

<form method="POST" id="updateForm">
  {%csrf_token%}
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
  
  
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">{{ user.get_full_name }}</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class=" col-md-9 col-lg-9 "> 
                <table class="table table-user-information">
                  <tbody>
                    <tr>
                      <td>Correo:</td>
                      <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                      <td>Fecha de nacimiento:</td>
                      <td>
                        {{ user.born_date }}
                      </td>
                    </tr>
                    <tr>
                      <td>DNI:</td>
                      <td>
                        {{ user.dni }}
                      </td>
                    </tr>
                    <tr>
                      <td>Provincia:</td>
                      <td>{{ form.province }}</td>
                    </tr>
                    <tr>
                      <td>Localidad:</td>
                      <td>{{ form.localidad }}</td>
                    </tr>
                    <tr>
                      <td>Dirección:</td>
                      <td>{{ form.address }}</td>
                    </tr>
                      <td>Teléfono:</td>
                      <td>{{ form.phone }}</td>
                    </tr>
                    <tr>
                      <td>Miembro desde:</td>
                      <td>{{ user.date_joined }}</td>
                    </tr>
                  </tbody>
                </table>

                {% if form.errors %}
                    {% for field in form %}
                        {{ field.errors }}
                    {% endfor %}
                {% endif %}

                <button type="submit" id="formSumbitionButton" disabled class="btn btn-dark">Guardar cambios</button>
                <button type="button" class="btn btn-primary" onclick="window.location='{% url 'cambiar_contraseña' %}'">Cambiar contraseña</button>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>

</form>

  <br/>

  <script>

    const inputElements = document.querySelectorAll('input')

    inputElements.forEach((inputElement) => {
      inputElement.addEventListener('focus', () => {
        inputElement.select();
      })
    })

    function areFieldsModified() {
      const form = document.getElementById('updateForm');
      const initialFormValues = new Map();
    
      for (const element of form.elements) {
        if (element.name && ['input', 'select', 'textarea'].includes(element.tagName.toLowerCase())) {
          initialFormValues.set(element.name, element.value);
        }
      }

      for (const element of form.elements) {
        if (element.name && ['input', 'select', 'textarea'].includes(element.tagName.toLowerCase())) {
          var action = element.tagName == 'SELECT' ? 'change' : 'keyup';
          element.addEventListener(action, () => {
            for (const [name, value] of initialFormValues.entries()) {
              if (value !== form.elements[name].value) {
                $("#formSumbitionButton").removeAttr('disabled');
                return true;
              }
            }

            $("#formSumbitionButton").attr("disabled", 'disabled');
            return false;
          });
        }
      }
    }
    
    areFieldsModified();

    $(document).ready(function() {
      $('#id_province').change(function() {
        var provincia_id = $(this).val();
        var selectLocalidad = $('#id_localidad');
        selectLocalidad.empty();
        
        $.get("{% url 'get_new_localidades' %}", {'provincia_id': provincia_id}, function(data) {
          var newChoices = data.choices;
          selectLocalidad.empty();
  
          $.each(newChoices, function(index, choice) {
            selectLocalidad.append($('<option>').val(choice[0]).text(choice[1]));
          });
        });
      });
    });

    {% if messages %}
    {% for message in messages %}
    $(document).ready(function() {
      Swal.fire({
        icon: 'success',
        title: '{{ message }}',
        showConfirmButton: false,
        showCloseButton: true
      })
    });
    {% endfor %}
    {% endif %}

  </script>

{% endblock %}