{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="es-Ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}} | Banco de Mendiolaza</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="shortcut icon" href="{% static 'icon.png' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/c8787d6c86.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% block headblock %}
    {% endblock %}
</head>
<body style="background-color: rgb(248, 248, 248);" onload="convertCurrency();">
    
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'landing' %}">BMendiolaza</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Inicio</a>
            </li>
            {% if user.is_authenticated and not user.has_privilege %}
            <li class="nav-item">
              <a class="nav-link" href="/cuenta">Cuenta</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Actividad
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/actividad/transacciones">Transacciones</a>
                <a class="dropdown-item" href="/actividad/transferencias">Transferencias</a>
              </div>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="/about-us">Sobre Nosotros</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{request.user.first_name}}
                {% if notifications %}
                ({{ notifications.count }})
                {% endif %}
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="{% url 'info_personal' %}"><i class="fas fa-user"></i> Info. personal</a></li>
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#">
                    <i class="fas fa-bell"></i> 
                    Notificaciones
                    ({{ notifications.count|default:'0' }})
                  </a>
                  <ul class="dropdown-menu">
                    {% if notifications %}
                      {% for notification in notifications %}
                      <li><a class="dropdown-item" href="{% url 'notif_viewed' id=notification.id %}">
                        {{ notification.text }}
                        <br/>
                        <small id="notifDate">{{ notification.date|naturaltime }}</small>
                      </a></li>
                        {% if not notifications.count == 1 %}
                        <li><div class="dropdown-divider"></div></li>
                        {% endif %}
                      {% endfor %}
                    {% else %}
                    <li><a class="dropdown-item">No hay notificaciones</a></li>
                    {% endif %}
                  </ul>
                </li>
                {% if user.has_privilege %}
                <li><a class="dropdown-item" href="{% url 'admin:index' %}"><i class="fas fa-user-cog"></i> Administrar</a></li>
                {% endif %}
                <li><div class="dropdown-divider"></div></li>
                <li><a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal"><i class="fas fa-sign-out-alt"></i> Salir</a></li>
              </ul>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'info_personal' %}"><i class="fas fa-user"></i> Info. personal</a>
                <a class="dropdown-item" href="#"><i class="fas fa-bell"></i> Notificaciones</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal"><i class="fas fa-sign-out-alt"></i> Salir</a>
              </div>
            </li>
            {% endif %}
          </ul>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            <li class="nav-item">
              <form class="form-inline my-2 my-lg-0" autocomplete="off" action="{% url 'search_view' %}">
                <input class="form-control mr-sm-2" type="search" id="search-input" name="search" placeholder="Buscar personas" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Buscar</button>
              </form>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link text-light" href="{% url 'login' %}">
                Acceder
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
          
      </div>
    </nav>

    
      {% block mainblock %}
      {% endblock %}


      <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="logoutModalTitle">Salir</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ¿Está seguro que desea salir de Banco de Mendiolaza?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button type="button" onclick="window.location.href='{% url 'logout' %}'" class="btn btn-danger">Salir</button>
            </div>
          </div>
        </div>
      </div>


    <footer id="sticky-footer" class="py-4 bg-dark text-white">
      <br/><br/>
      <div class="container text-center">
        <div class="box">
          <h4>Conversor de Divisas</h4>
          <br/>
          <tr>
            <td>
              <input type="tel" id="fromAmount" value="1" onkeyup="convertCurrency();" onkeypress="return valida(event);">
            </td>
            <td>
              <select id="from" onchange="convertCurrency();">
                <option value="ARS">Peso Argentino (ARS)</option>
                <option value="USD" selected>Dólar Estadounidense (USD)</option>
                <option value="BRL">Real Brasilero (BRL)</option>
              </select>
            </td>
          </tr>
          <br/><br/>
          <tr>
            <td>
              <input type="tel" id="toAmount" disabled>
            </td>
            <td>
              <select id="to" onchange="convertCurrency();">
                <option value="ARS" selected>Peso Argentino (ARS)</option>
                <option value="USD">Dólar Estadounidense (USD)</option>
                <option value="BRL">Real Brasilero (BRL)</option>
              </select>
            </td>
          </tr>
        </div>
        <br/><br/>
        <small class="text-white-50">Copyright &copy; 2023 Banco de Mendiolaza</small>
      </div>
      <br/>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="{% static 'js/funciones.js' %}"></script>
    {% block scriptblock %}
    {% endblock %}

</body>
</html>