{% extends 'base.html' %}
{% load static %}

{% block navblock %}
<li class="nav-item">
  <a class="nav-link" href="/">Inicio</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/saldo">Saldo</a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="/contactos">Contactos</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/info">Información</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/perfil">Perfil</a>
</li>
{% endblock %}

{% block mainblock %}

<div class="container">
  <h1 id="skere">Contactos</h1>
  <h2 id="mod">Atención telefónica</h2>
  <div id="text">
    <ul>
      <li>BM Hola</li>
    </ul>
  </div>
  <div id="text2">
    Encontrá el asesoramiento que necesitás:
    <br>
    <br>
    Desde tu celular (351) 6594342
    <br>
    <br>
    Atención de lunes a viernes de 8 a 20 horas.
    <br>
  </div>
  <div id="text">
    <br>
    <h2 id="mod">Contacto por e-mail</h2>
  </div>
  <div id="text2">
    <br>
    juanzakka@gmail.com
  </div>
</div>

{% endblock %}