{% extends 'base.html' %}
{% load static %}

{% block navblock %}
{% if user.is_authenticated %}
<li class="nav-item">
  <a class="nav-link" href="/">Inicio</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/saldo">Saldo</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/movimientos">Movimientos</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="/info">Información</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/perfil">Perfil</a>
</li>
{% else %}
<li class="nav-item">
  <a class="nav-link" href="/">Inicio</a>
</li>
<li class="nav-item active">
  <a class="nav-link" href="/info">Información</a>
</li>
{% endif %}
{% endblock %}

{% block mainblock %}

<br/>

<div class="container">
  <center>
    <h2>Visite nuestra única sucursal</h2>
    <div id="map"></div>
    <p>Av. Martín Tissera 3701 - Mendiolaza, Córdoba, Argentina</p>
  </center>
</div>

{% endblock %}

{% block scriptblock %}
    <script defer
        src="https://maps.googleapis.com/maps/api/js?AIzaSyCKMN-aqhHfuyh0Nx8HrxFCzNSLYa1-nzY&callback=initMap">
    </script>
{% endblock %}
