{% extends 'base.html' %}
{% load static %}

{% block navblock %}
<li class="nav-item">
  <a class="nav-link" href="/">Inicio</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/saldo">Saldo</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/contactos">Contactos</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="/info">Información</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/perfil">Perfil</a>
</li>
{% endblock %}

{% block mainblock %}

<div class="container">
  <center>
    <h2>Conozca nuestra sucursal</h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1705.4046075792023!2d-64.26132274194912!3d-31.253704402400892!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432834c09dc08ff%3A0x9e2822f279e84a44!2sAv.+Mart%C3%ADn+Tissera+3701-3799%2C+X5108BXW+Mendiolaza%2C+C%C3%B3rdoba%2C+Argentina!5e0!3m2!1ses-419!2sus!4v1542909911624" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    <p>Av. Martín Tissera 3701-3799, X5108BXW Mendiolaza, Córdoba, Argentina</p>
  </center>
</div>

{% endblock %}
