{% extends 'base_form.html' %}
{% load static %}
{% block mainblock %}

  <!-- Login Form -->
  <form method="POST" style="margin-top: 10px;">
    {% if form.errors %}
    <p>Por favor ingrese un correo electrónico y contraseña correctos. Considere que ambos campos son sensibles al uso de mayúsculas.</p>
    <br/>
    {% endif %}
    {{ form.username }}
    {{ form.password }}
    {% csrf_token %}
    <br/><br>
    <input type="submit" class="fadeIn fourth" value="Entrar">
  </form>

  <div id="formFooter">
    <a class="underlineHover" href="/register">Si no tenés cuenta, registráte</a>
    <br/>
    <hr>
    <a class="underlineHover" href="/reset">Olvidé mi contraseña</a>
  </div>

{% endblock mainblock %}