{% extends 'base.html' %}
{% load static %}

{% block navblock %}
<li class="nav-item">
  <a class="nav-link" href="/">Inicio</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/saldo">Saldo</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="/movimientos">Movimientos</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/info">Información</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/perfil">Perfil</a>
</li>
{% endblock %}

{% block mainblock %}

<div class="container">

  {% for a in user_transactions %}

    {% if a.user__email == request.user.email %}

      {% if a.type_of_move == 'Ingreso' %}

      <br/>

      <div class="card">
        <h5 class="card-header">Transacción</h5>
        <div class="card-body">
          <h5 class="card-title">Ingreso</h5>
          <p class="card-text text-success">$ {{a.cash_moved}}</p>
          <p class="card-text">{{a.date}}</p>
        </div>
      </div>

      <br/>

      {% endif %}

      {% if a.type_of_move == 'Retiro' %}

        <br/>

        <div class="card">
          <h5 class="card-header">Transacción</h5>
          <div class="card-body">
            <h5 class="card-title">Retiro</h5>
            <p class="card-text text-danger">$ {{a.cash_moved}}</p>
            <p class="card-text">{{a.date}}</p>
          </div>
        </div>

        <br/>

      {% endif %}

    {% endif %}

  {% endfor %}

  <hr>

  {% for i in user_transfers %}

    {% if i.from_user__email == request.user.email %}

    <br/>
        
    <div class="card">
      <h5 class="card-header">Transferencia</h5>
      <div class="card-body">
        <p class="card-text">Para: </p>
        <h5 class="card-title">{{i.to_user__first_name}} {{i.to_user__last_name}}</h5>
        <p class="card-text"> Email: {{i.to_user__email}}</p>
        <p class="card-text">CVU: {{i.to_cvu__cvu}}</p>
        <p class="card-text text-danger">$ {{i.cash_losed}}</p>
        <p class="card-text">{{i.date}}</p>
      </div>
    </div>

    <br/>
    
    {% else %}

    <br/>

    {% if request.user.email == i.to_user__email %}

      <div class="card">
        <h5 class="card-header">Transferencia</h5>
        <div class="card-body">
          <p class="card-text">De: </p>
          <h5 class="card-title">{{i.from_user__first_name}} {{i.from_user__last_name}}</h5>
          <p class="card-text">Email: {{i.from_user__email}}</p>
          <p class="card-text">CVU: {{i.from_cvu__cvu}}</p>
          <p class="card-text text-success">$ {{i.cash_sended}}</p>
          <p class="card-text">{{i.date}}</p>
        </div>
      </div>

      <br/>

      {% else %}

      {% endif %}

    {% endif %}

  {% endfor %}

</div>

{% endblock %}