{% extends 'base.html' %}
{% load static %}

{% block navblock %}
<li class="nav-item">
  <a class="nav-link" href="/">Inicio</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/cuenta">Cuenta</a>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Actividad
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="/actividad/transacciones">Transacciones</a>
    <a class="dropdown-item" href="/actividad/transferencias">Transferencias</a>
  </div>
</li>
<li class="nav-item">
    <a class="nav-link" href="/about-us">Sobre Nosotros</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="/info-personal">Información Personal</a>
</li>
{% endblock %}

{% block mainblock  %}

<br/>
<form method="POST">
  {%csrf_token%}
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
  
  
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">{{ request.user.first_name }} {{ request.user.last_name }}</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class=" col-md-9 col-lg-9 "> 
                <table class="table table-user-information">
                  <tbody>
                    <tr>
                      <td>Miembro desde:</td>
                      <td>{{ request.user.date_joined }}</td>
                    </tr>
                    <tr>
                      <td>Fecha de nacimiento:</td>
                      <td>{{ request.user.born_date }}</td>
                    </tr>
                    <tr>
                      <td>DNI:</td>
                      <td>{{ request.user.dni }}</td>
                    </tr>
                    <tr>
                      <td>Provincia:</td>
                      <td>{{ form.province }}</td>
                    </tr>
                    <tr>
                      <td>Ciudad:</td>
                      <td>{{ form.city }}</td>
                    </tr>
                    <tr>
                      <td>Dirección:</td>
                      <td>{{ form.address }}</td>
                    </tr>
                    <tr>
                      <td>Correo:</td>
                      <td>{{ request.user.email }}</td>
                    </tr>
                      <td>Teléfono:</td>
                      <td>{{ form.phone }}</td>
                    </tr>
                   
                  </tbody>
                </table>
                
                <button type="submit" class="btn btn-dark">Guardar cambios</button>
                <button type="button" class="btn btn-primary" onclick="window.location='/info-personal/actualizar-contraseña'">Editar contraseña</button>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>

</form>

  <br/>

  <script>

    window.onload = function() {

      var province_select = document.getElementById("id_province");
      province_select.options[0].disabled = true;
      province_select.className = 'form-control';
      
    };

  </script>

{% endblock %}