{% extends 'base.html' %}
{% load static %}

{% block navblock %}
<li class="nav-item">
  <a class="nav-link" href="/">Inicio</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/saldo">Saldo</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/movimientos">Movimientos</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/info">Información</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="/perfil">Perfil</a>
</li>
{% endblock %}

{% block mainblock  %}

<br/>
  
  <div id="div-perfil">
    <form method="POST">
        {{ form.as_p }}
        {% csrf_token %}
        <br>
        <button style="width: 200px;" type="submit" class="btn btn-dark btn-lg">Guardar cambios</button>
        <button style="margin-left: 20px;" type="button" class="btn btn-primary" onclick="window.location='/perfil/actualizar-contraseña'">Editar contraseña</button>
    </form>
  </div>

  <br/>

{% endblock %}