{% extends 'base_form.html' %}
{% load static %}
{% block mainblock %}

  <!-- Login Form -->
  <form method="POST" style="margin: 10px;" autocomplete="off">
    {{ form.as_p }}
    {% csrf_token %}
    <br>
    <ul class="fadeIn eleventh">
        <li>Tu contraseña no puede ser similar a otro dato personal.</li>
        <li>Tu contraseña debe contener al menos 8 caracteres.</li>       
        <li>Tu contraseña no puede ser igual que la usada actualmente.</li>       
        <li>Tu contraseña no puede ser solamente numérica.</li>     
    </ul>
    <input type="submit" class="fadeIn twelveth" value="Registrarse">
  </form>

  <div id="formFooter">
    <a class="underlineHover" href="/login">Si ya tenés cuenta, iniciá sesión</a>
  </div>

{% endblock mainblock %}
