{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block navblock %}
<li class="nav-item">
  <a class="nav-link" href="/">Inicio</a>
</li>
<li class="nav-item">
  <a class="nav-link active" href="/cuenta">Cuenta</a>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Actividad
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="/actividad/transacciones">Transacciones</a>
    <a class="dropdown-item" href="/actividad/transferencias">Transferencias</a>
  </div>
</li>
<li class="nav-item">
    <a class="nav-link" href="/about-us">Sobre Nosotros</a>
</li>
{% endblock %}

{% block mainblock %}

<br/>

<div class="container">

  <h1>Saldo:</h1>

  <div id="signo">
    $ {{ banking.balance|floatformat:'2'|intcomma }}
  </div>
  <form method="POST" autocomplete="off">
      {% csrf_token %}
      <input id="ing" maxlength="7" type="tel" name="total_balance" class="form-control" 
      placeholder="Monto" required onkeypress="return valida(event)">
      <br>
      <button id="btn1" type="submit" class="btn btn-dark" name="cuenta_ingresar">Ingresar</button>
      <button id="btn2" type="submit" class="btn btn-dark" name="cuenta_retirar">Retirar</button>
      <br>

  </form>

</div>

<br/>
<hr>
<br/>

<div class="container">

  <div class="have-cvu">
    <form method="POST" autocomplete="off">
      {% csrf_token %}
      <h3>Transferir dinero:</h3>
      <p>Tu CVU es: <strong>{{ banking.cvu }}</strong></p>
      <p>Monto: 
        <input class="form-control" 
        placeholder="$" maxlength="6" type="tel" id="trans-cant" name="transferir_amount" required onkeypress="return valida(event)">
      </p>
      <p>CVU destinatario: 
        <input maxlength="22" placeholder="CVU" class="form-control" 
        id="trans-cvu" type="tel" name="transferir_cvu" required onkeypress="return valida(event)">
      </p>
      <button type="submit" name="transferir" class="btn btn-dark">Transferir</button>
    </form>
  </div>

</div>

<br>

{% if messages %}
<script>

  
  {% for message in messages %}
  
  var smallElement = $('<small class="text-danger">{{ message }}</small><br/>')
  var inputElement = $('{{ message.extra_tags }}');

  inputElement.addClass('is-invalid');
  inputElement.after(smallElement);

  {% endfor %}

</script>
{% endif %}

{% endblock %}