{% extends 'base.html' %}
{% load static %}

{% block navblock %}
<li class="nav-item">
  <a class="nav-link" href="/">Inicio</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/saldo">Saldo</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/movimientos">Movimientos</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/info">Información</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/perfil">Perfil</a>
</li>
{% endblock %}

{% block mainblock %}

<center>
    {% for i in all_users %}
    {% if search in i.user__email or search in i.user__first_name or search in i.user__last_name %}
    {% if not i.cvu == None %}
    <div class="row" style="margin: 20px;">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{i.user__first_name}} {{i.user__last_name}}</h5>
              <p class="card-text">{{i.user__email}}</p>
              <p class="card-text">CVU: <strong id="{{i.cvu}}">{{i.cvu}}</strong></p>
              <button class="btn btn-dark" id="{{i.cvu}}-btn" onclick="copyCvu{{i.cvu}}('{{i.cvu}}')">Copiar CVU</button>
            </div>
          </div>
        </div>
      </div>

      <script>
        function copyCvu{{i.cvu}}(elementId) {
  
          var aux = document.createElement("input");

          var btn = document.getElementById("{{i.cvu}}-btn");

          aux.setAttribute("value", document.getElementById(elementId).innerHTML);

          document.body.appendChild(aux);

          aux.select();

          document.execCommand("copy");

          document.body.removeChild(aux);

          btn.className = "btn btn-success";

          btn.innerHTML = "Copiado &#10004;";

          setTimeout(() => { 
            btn.className = "btn btn-dark";
            btn.innerHTML = "Copiar CVU";
           }, 4000)

        }
      </script>

    {% endif %}
    {% endif %}
    {% endfor %}
    
</center>

{% endblock mainblock %}