{% extends 'base.html' %}
{% load static %}

{% block navblock %}
<li class="nav-item">
  <a class="nav-link" href="/">Inicio</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/cuenta">Cuenta</a>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Actividad
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="/actividad/transacciones">Transacciones</a>
    <a class="dropdown-item" href="/actividad/transferencias">Transferencias</a>
  </div>
</li>
<li class="nav-item">
    <a class="nav-link" href="/about-us">Sobre Nosotros</a>
</li>
{% endblock %}

{% block mainblock %}

<center>
    {% for banking in all_bankings %}
    <div class="row" style="margin: 20px;">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{banking.user.get_full_name}}</h5>
              <p class="card-text"><a href="mailto:{{banking.user.email}}">{{banking.user.email}}</a></p>
              <p class="card-text">CVU: <strong id="{{banking.cvu}}">{{banking.cvu}}</strong></p>
              <button class="btn btn-dark" id="{{banking.cvu}}-btn" onclick="copyCvu{{banking.cvu}}('{{banking.cvu}}')">Copiar CVU</button>
            </div>
          </div>
        </div>
      </div>

      <script>
        function copyCvu{{banking.cvu}}(elementId) {
  
          var aux = document.createElement("input");

          var btn = document.getElementById("{{banking.cvu}}-btn");

          aux.setAttribute("value", document.getElementById(elementId).innerHTML);

          document.body.appendChild(aux);

          aux.select();

          document.execCommand("copy");

          document.body.removeChild(aux);

          btn.className = "btn btn-success";

          btn.innerHTML = "Copiado &#10004;";

          setTimeout(() => { 
            btn.className = "btn btn-dark";
            btn.innerHTML = "Copiar CVU";
           }, 4000)

        }
      </script>

    {% endfor %}

    {% if all_bankings.has_other_pages %}

    <div aria-label="Page navigation example">
      <ul class="pagination" style="justify-content: center;">
        {% if all_bankings.has_previous %}
          <li class="page-item"><a class="page-link" href="?search={{search}}&page={{ all_bankings.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"><span>&laquo;</span></a></li>
        {% endif %}
        {% for i in all_bankings.paginator.page_range %}
          {% if all_bankings.number == i %}
            <li class="page-item active"><a class="page-link" href="#"><span>{{ i }} <span class="sr-only">(current)</span></span></a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?search={{search}}&page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if all_bankings.has_next %}
          <li class="page-item"><a class="page-link" href="?search={{search}}&page={{ all_bankings.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="page-item disabled"><a class="page-link" href="#"><span>&raquo;</span></a></li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}
    
</center>

{% endblock mainblock %}